/* component.css */

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="tel"]:focus,
textarea:focus {
  outline: none;
  border-color: #2b9eff;
}

button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2b9eff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2487c7;
}
