<form (ngSubmit)="onSubmit()" [formGroup]="messageForm">
  <div>
    <label for="mobile-number-input">Mobile Number:</label>
    <input id="mobile-number-input" formControlName="mobileNumber" type="tel" placeholder="+1234567890" required>
    <div *ngIf="messageForm.get('mobileNumber')?.invalid && (messageForm.get('mobileNumber')?.dirty || messageForm.get('mobileNumber')?.touched)" class="error">
      <span *ngIf="messageForm.get('mobileNumber')?.errors?.required">Mobile Number is required</span>
      <span *ngIf="messageForm.get('mobileNumber')?.errors?.pattern">Invalid Mobile Number</span>
    </div>
  </div>
  <div>
    <label for="message-input">Message:</label>
    <textarea id="message-input" formControlName="message" rows="4" required></textarea>
    <div *ngIf="messageForm.get('message')?.invalid && (messageForm.get('message')?.dirty || messageForm.get('message')?.touched)" class="error">
      <span *ngIf="messageForm.get('message')?.errors?.required">Message is required</span>
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="messageForm.invalid">Submit</button>
  </div>
</form>
