<h1>Telegram API Integration Documentation</h1>

<h2>References</h2>
<ul>
  <li>WTelegramClient</li>
  <li>Telegram User Login: <a href="https://stackoverflow.com/a/69579579/20450349">https://stackoverflow.com/a/69579579/20450349</a>,
    <a href="https://www.nuget.org/packages/WTelegramClient/">https://www.nuget.org/packages/WTelegramClient/</a></li>
  <li>FAQ: <a href="https://wiz0u.github.io/WTelegramClient/FAQ">https://wiz0u.github.io/WTelegramClient/FAQ</a></li>
</ul>

<h2>Message to frontend</h2>
<ul>
  <li>Message sent: When a message is sent through telegram</li>
  <li>Please Login Again: When authorization revoked</li>
  <li>Retry: Session unable to connect</li>
  <li>Enter a valid number: When input phone number does not exits while messaging</li>
  <li>Session Disconnected: Session Disconnected</li>
  <li>No session on going: Session Not connected</li>
  <li>Session token being used: When trying to join a live session with a saved token</li>
  <li>Session Created: New session Created</li>
  <li>PHONE_NUMBER_INVALID: Invalid number for login</li>
  <li>Login Successful: Login Successful</li>
</ul>

<h2>Paths</h2>
<ul>
  <li>"/telegramintegration/login" : used for calling login function</li>
  <li>"/telegramintegration/reconnect" : using to reconnect to a session(used for development and testing)</li>
  <li>"/telegramintegration/disconnect" : using to disconnect to a session(used for development and testing)</li>
  <li>"/telegramintegration/message" : used to send message over telegram</li>
</ul>

<h2>Extra references (not used!!!!)</h2>
<ul>
  <li>Create a bot:</li>
  <ul>
    <li>Reference: <a href="https://core.telegram.org/bots#how-do-i-create-a-bot">https://core.telegram.org/bots#how-do-i-create-a-bot</a>
    </li>
    <li>Bot Father: <a href="https://t.me/BotFather">https://t.me/BotFather</a></li>
    <li>Visit bot father and message /start to begin followed by /newBot. Reply all the prompts to get access token.
    </li>
    <li>Use /setDomain to sent the domain of application</li>
  </ul>
  <li>Create Telegram Login Widget:</li>
  <ul>
    <li>Reference: <a href="https://core.telegram.org/widgets/login#creating-a-login-url">https://core.telegram.org/widgets/login#creating-a-login-url</a>
    </li>
    <li>Note: Login widget doesn't work on localhost and thus ngrok needs to be configured to use it</li>
  </ul>
  <li>Telegram.Bot C# documentation: <a href="https://telegrambots.github.io/book/index.html">https://telegrambots.github.io/book/index.html</a>
  </li>
</ul>
